/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */
/* Start of Custom Styles */
.content {
    box-sizing: border-box;
    padding: 0 15px;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif; 
	color: #4c5058;
}


/* Navigation Section */
.top-navigation {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #eaebec;
    position: fixed;
}
.top-navigation > .content {
    height: 70px;
    padding: 0 15px;
}

.content > .logo {
	height: 70px;
	float: left;
}

.top-navigation .links {
	float: right;
	font-size: 17px; 
	margin-top: 27px;
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
	transition: color 0.5s ease-in-out;
}

.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;

}

.introduction {
	background-image: url('../img/bg-graphic-go-2d18f6f49ce18d38642600987ceed918.jpg');
	background-position: bottom center;
	background-size: cover;
	height: 540px;
}

.introduction .content h1, .introduction .content h3 {
	color: white;
}

.content h1, .content h3, .content h2 {
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 0.04em;
	color: #1d1e21;
}

.content h1 {
	font-size: 50px;
	padding-top: 150px;
}

.content h3 {
	font-weight: 400;
	font-size: 24px;
	margin-top: 40px;
}

.content h2 {
	margin-top: 150px;
	font-size: 44px;
}
.content p {
	font-size: 18px;
	margin: 20px 15px 120px 15px;
}

.buttons button, .buttons .watch span, .buttons{
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	color: white;
	margin-top: 10px;
	font-size: 20px;
}

.half {
	display: inline-block;
}
.learn button, button.buttons{
	background-color: #f15a29;
}

span img {
	vertical-align: middle;
}

.arrow {
	margin-top: 90px;
}

@-webkit-keyframes bounce{ 
from {-webkit-transform: translateY(0px);}
to   {-webkit-transform: translateY(30px);}
} 

img.arrow-down{
  -webkit-animation: bounce 1s ease-out infinite alternate;
}

.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 50px;
    text-align: center;
	padding: 0 3px;
	line-height: 1.5;
}

.devices h3.internet {
	margin-right: 20px;
}
.devices img {
	width: 127px;
	height: 127px;
}

.buy-now {
	background-image: url('../img/bg-graphic-sharing-9a33cadeaa78a92b5ecbebaf1ebf6aa3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 900px;
}

.buy-now .content .left {
	width: 32%;
	text-align: left;
	padding: 100px 0;
	letter-spacing: 0.07em;
}

.left h3 {
	color: #f15a29;
}

.left p {
	padding: 0;
	margin: 20px 0 0 0;
	line-height: 1.5;
}

button.buttons {
	margin-top: 25px;
}
.social {
	color: #838994;
	font-size: 14px;
	margin-top: 30px;
}

.social .content ul.company,
.social .content ul.shop,
.social .content ul.support,
.social .content ul.news {
	list-style: none;
	text-align: left;
	display: inline-block;
	margin: 60px 30px 30px 30px;
	vertical-align: top;
}

.social .content li {
	padding-top: 8px;
}
.social .content a {
	color: #838994 ;
	text-decoration: none;
}

.social ul >:first-child {
	color: #4c5058;
	font-weight: 500;
	padding-bottom: 7px;
}

.social .news input {
	border: 1px solid #caccd1;
	border-radius: 4px;
}

hr {
	border:0;
	border-bottom: 1px solid #eaebec;
}

ul.icons >:first-child, 
ul.icons >:last-child {
	display: block;
	padding: 15px;
}

.icons li {
	display: inline-block;
	width: 
}

.icons i.fa {
	width: 42px;
	height: 42px;
	line-height: 42px;
	margin: 2px;
	border: 1px solid #eaebec;
	border-radius: 50%;
}

.icons i.fa-twitter {
	color: #55acee;
}

.icons i.fa-facebook {
	color: #4c66a4;
}

.icons i.fa-instagram {
	color: #3f729b;
}
